{{ define "content" }}
<h1>Socis</h1>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>DNI</th>
      <th>Soci des de</th>
      <th>Elimina</th>
    </tr>
  </thead>
  <tbody>
  {{ range .items }}
    <tr>
      <td>{{ .Name }}</td>
      <td>{{ .NIF }}</td>
      <td>{{ .JoinedOn }}</td>
      <td>-</td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ if .paginator.HasPrevious }}
<a href="?itemsPerPage={{ .paginator.ItemsPerPage }}&page={{ .paginator.Previous }}">«</a>
{{ end }}
Mostrant {{ .paginator.ItemsPerPage }} de {{ .total }}
{{ if .paginator.HasNext .total }}
<a href="?itemsPerPage={{ .paginator.ItemsPerPage }}&page={{ .paginator.Next }}">»</a>
{{ end }}
{{ end }}
