{{ define "content" }}
<h1>Socis</h1>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>DNI</th>
      <th>Soci des de</th>
      <th>Elimina</th>
    </tr>
  </thead>
  <tbody hx-confirm="Segur que el vols esborrar?" hx-target="closest tr" hx-swap="delete swap:1s">
  {{ range .items }}
    <tr>
      <td>{{ .Name }}</td>
      <td>{{ .NIF }}</td>
      <td>{{ .JoinedOn }}</td>
      <td>
        <button hx-delete="/api/members/{{ .ID }}">
          Esborra
        </button>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ template "pagination" .paginator }}
{{ end }}
