{{ define "content" }}
<div hx-get="/" hx-trigger="members-updated from:body" hx-target="#content" hx-swap="outerHTML">
  <h1>Socis</h1>
  <form hx-post="/members" hx-ext="json-enc" hx-swap="none">
    <input type="text" name="name" required>
    <input type="text" name="nif" required>
    <input type="date" name="joined_on" required>
    <input type="submit" value="Afegeix">
  </form>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>DNI</th>
        <th>Soci des de</th>
        <th>Elimina</th>
      </tr>
    </thead>
    <tbody>
    {{ range .items }}
      <tr>
        <td>{{ template "member_table_field" dict "field" "name" "value" .Name "id" .ID }}</td>
        <td>{{ .NIF }}</td>
        <td>{{ .JoinedOn }}</td>
        <td>
          <button
            hx-delete="/members/{{ .ID }}"
            hx-confirm="Segur que el vols esborrar?"
            hx-target="closest tr"
            hx-swap="delete swap:1s"
          >
            Esborra
          </button>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>
  {{ template "pagination" .paginator }}
</div>
{{ end }}
